# Django 設定
SECRET_KEY=your_django_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=mysql://username:password@127.0.0.1:3306/ohwowwowpair

# reCAPTCHA
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key

# VITE api base url
VITE_API_BASE_URL=http://localhost:8000

# CORS 設定
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# 靜態檔案
STATIC_ROOT=/var/www/oh-wow-pair/static
MEDIA_ROOT=/var/www/oh-wow-pair/media
