# Python
__pycache__/
*.py[cod]
.env
*.sqlite3
node_modules/
.DS_Store 
server/post/migrations/*.py
!server/post/migrations/__init__.py
server/core/migrations/*.py
!server/core/migrations/__init__.py
/media/