# Python cache & 編譯檔
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# 虛擬環境
venv/
env/

# SQLite 資料庫
*.sqlite3

# 環境變數
.env

# 作業系統雜物
.DS_Store

# Node.js 前端
node_modules/

# 上傳檔案
/media/
server/media/

# 忽略 migrations except __init__.py
server/*/migrations/*.py
!server/*/migrations/__init__.py
server/*/migrations/*.pyc
